.search-icon {
    position: absolute;
    z-index: 10;
    margin-left: 500px;
    right: 31%;
    top: 54px;
    color: #2874f0;
}
.logo{
    text-decoration: none;
    color: white;
}
.changeBackground{
    background-color: rgb(255, 233, 193);
}