<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/alex-kotliarskyi-ourQHRTE2IM-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/domenico-loia-EhTcC9sYXsw-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="card">
        <img
          src="../../../assets/images/alex-kotliarskyi-ourQHRTE2IM-unsplash.jpg"
          class="card-img-top"
          alt="errror"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example ">
    <ul class="pagination mt-5">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
