<div class="container border p-3 mt-3">
  <h1>templatestatements tutorial!</h1>
  <button class="btn btn-primary" type="button" (click)="deleteHero()">
    Delete hero
  </button>
</div>

<div class="container border p-3 mt-3">
  <button class="btn btn-primary" type="button" (click)="deleteHero()">
    Delete hero
  </button>

  <!-- <button class="btn btn-primary" type="button" (click)="onSave($event)">Save</button>
  <button class="btn btn-primary" type="button" *ngFor="let hero of heroes" (click)="deleteHero(hero)">
    {{ hero.name }}
  </button>
  <form #heroForm (ngSubmit)="onSubmit(heroForm)">...</form> -->
</div>
